@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-serif: 'Shippori Mincho', serif;

  --foreground-rgb: 48, 48, 48;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 48, 48, 48;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb)) !important;
  font-family: var(--font-serif);
  background: rgb(var(--background-rgb)) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
